@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.9rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c2c0c0;
  border-radius: 2rem;
  border-right: 0.2rem;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}

body {
  font-family: "Inter", sans-serif;
}

*:focus {
  outline: none;
}
.hero-bg {
  background-image: url(https://i.ibb.co/wrPLV0B/fc1f79e18cdc1a12320b9b10ec3e253d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.swal-button-container {
  outline: none;
  border-radius: 8px;
  overflow: hidden;
}
.swal-button {
  background-color: #f5e187;
  color: #131313;
}
text {
  position: absolute;
  font-size: 21px;
  font-weight: 700;
}
